:root {
    --color-1: #18cfab;
    --color-2: #a7a7a6;
    --color-3: #d1d1d1;
    --color-4: #00cbf6;
    --color-5: #1c2a33;
    --color-6: #ffffff;
    --color-7: #f8fcfe;
    --color-8: #22353f;
    --color-9: #4e4e4e;
    --color-10: #717171;
}

* a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navigation-bar {
    background-color: rgba(0, 0, 0, 0.6);
}

.navigation-bar .container {
    display: flex;
    justify-content: space-between;
}

.logo-box {
    display: flex;
    align-self: center;
    margin: 25px 0;
}

.logo-name {
    align-self: center;
    margin-left: 5px;

    font-size: 32px;
    color: #fff;
    font-weight: 300;
}

.logo-name--colored {
    color: var(--color-1);
    font-weight: 700;
}

/* navigation bar */
.main-nav {
    display: flex;
    align-items: center;
}

.main-nav li {
    margin-left: 21px;
}

.main-nav li:last-child a {
    display: block;
    width: 25px;
    height: 25px;
    background: url(../images/search.png) no-repeat;
}

.main-nav a {
    color: var(--color-2);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    display: block;
    position: relative;
}

.main-nav a:hover {
    color: var(--color-1);
}

.main-nav a:hover::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    bottom: -52.5px;
    width: 100%;
    height: 2px;
    background-color: var(--color-1);
}

.main-nav li:last-child a:hover::before {
    bottom: -48.5px;
}

/* titles */
.titles,
.buttons a {
    text-transform: uppercase;
    text-align: center;
    color: var(--color-6);
    margin: auto;
}

.buttons a {
    border-top: 5px solid #fff;
}

.title-main {
    font-size: 35px;
    font-weight: 700;
}

.colored {
    color: var(--color-1)
}

.motto {
    font-size: 79px;
    margin-top: 45px;
    font-weight: 700;
}

.titles-description {
    margin-top: 35px;
    font-size: 34px;
    font-weight: 300;
    text-transform: capitalize;
}

.buttons {
    text-align: center;
    margin-top: 146px;
}

.buttons a {
    display: inline-block;
    width: 166px;
    height: 66px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: var(--color-6);
    font-weight: 700;
    padding: 25px 0;
    box-sizing: border-box;
}

.btn.explore {
    background-color: var(--color-1);
    margin-right: 28px;
}

.btn.purchase {
    background-color: var(--color-4);
}

.buttons a:hover {
    /* background-color: rgb(85, 29, 110);
    border-top: 5px solid rgba(44, 25, 68, 0.353); */
    transition: 0.5s;
}

/* advanteges */
.advanteges {
    width: 100%;
}

.anvanteges-items {
    display: flex;
}

.anvanteges-item {
    display: flex;
    justify-content: center;
    width: 25%;
    height: 374px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    box-sizing: border-box;
    background-color: var(--color-5);
    color: var(--color-1);
    border-top: 5px solid;
}

.anvanteges-item a {
    margin-top: 150px;
    align-self: center;
    position: relative;
}

.anvanteges-item a::before {
    content: " ";
    display: block;
    position: absolute;
    left: calc(50% - 60px);
    bottom: 50px;
    width: 120px;
    height: 120px;
    background-position: 20px 10px;
    background-repeat: no-repeat;
}

.anvanteges-item--1 a::before {
    background-image: url(../images/sprite-1.png);
}

.anvanteges-item--2 a::before {
    background-image: url(../images/sprite-2.png);
    background-position: 15px 25px;
}

.anvanteges-item--3 a::before {
    background-image: url(../images/sprite-3.png);
}

.anvanteges-item--4 a::before {
    background-image: url(../images/sprite-4.png);
    background-position: 10px 25px;
}

.anvanteges-item:nth-child(2n) {
    background-color: var(--color-1);
    color: var(--color-6);
}

/* services */
.services,
.works {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.section-header {
    font-size: 36px;
    color: var(--color-9);
    text-align: center;
    text-transform: capitalize;
    margin-top: 82px;
    position: relative;
}

.section-header::before,
.section-header::after {
    content: " ";
    display: block;
    position: absolute;
    width: 85px;
    height: 1px;
    background-color: var(--color-1);
}

.section-header::before {
    left: 46%;
    bottom: -37px;
}

.section-header::after {
    left: 47%;
    bottom: -41px;
}

.tabs {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 112px auto;
    cursor: pointer;
}

.tabs-item {
    width: 193px;
    height: 76px;
    background-color: var(--color-7);
    color: var(--color-10);
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    line-height: 76px;
    font-size: 16px;
    text-transform: capitalize;
    border: 1px solid var(--color-3);
    cursor: pointer;
}

.tabs-item.active {
    position: relative;
    background-color: var(--color-1);
    color: var(--color-6);
    border: none;
}

.tabs-item.active::before {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background-color: var(--color-1);
    transform: rotate(45deg);
}

.tab-content {
    margin-top: 25px;
    margin-bottom: 105px;
}

.image-box {
    display: inline-block;
    width: 194px;
    height: 139px;
    background-color: var(--color-2);
    background-image: url(../images/web-design.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.tab-content-text {
    display: inline-block;
    vertical-align: top;
    max-width: 940px;
    max-height: 139px;
    margin-left: 20px;
    color: #777;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: justify;
}

/* buy-and-install */
.buy-and-install {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 474px;
    background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url(../images/buy-and-install-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-header--colored {
    color: var(--color-1);
    font-size: 40px;
    font-weight: 700;
    line-height: 40.46px;
    text-align: center;
    text-transform: uppercase;
}

.section-description--small {
    margin-top: 35px;
    color: #d8d8d8;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}

.buy-and-install .buttons {
    margin-top: 80px;
}

/* works */
.works {
    background-color: var(--color-7);
}

.tab,
.tab:last-child {
    border: 1px solid var(--color-3);

}

.tab {
    text-transform: capitalize;
    font-size: 14px;
    padding: 20px 30px;
    line-height: 25px;
    background-color: var(--color-6);
    border-right: none;
}

.tab.active {
    position: relative;
    color: var(--color-1);
}

.tab.active::before {
    content: ' ';
    display: block;
    position: absolute;
    top: -3px;
    left: -1px;
    height: 2px;
    width: calc(100% + 2px);
    background-color: var(--color-1);
}

/* flip card */
.flip-cards {
    width: 1140px;
    margin: 70px auto;
    display: flex;
    flex-wrap: wrap;
}

.flip-card {
    background-color: transparent;
    width: 284px;
    height: 208px;
    box-sizing: border-box;
    cursor: pointer;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    /* -webkit-backface-visibility: hidden; */
    /* Safari */
    /* backface-visibility: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
}

.flip-card-back {
    background-color: var(--color-7);
    transform: rotateY(180deg);
    margin: auto;
    border-top: 2px solid var(--color-1);
}

.flip-card-back__header {
    color: var(--color-1);
    font-size: 14px;
    font-weight: 700;
    line-height: 24.87px;
    text-transform: uppercase;
    margin-top: 30px;
}

.flip-card-back__description {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    line-height: 24.87px;
}

.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    cursor: pointer;
}

.link {
    background-color: #fff;
    background-image: url(../images/link-search.png);
    background-position: 12px 12px;
    background-repeat: no-repeat;
}

.search {
    background-color: #18cfab;
    background-image: url(../images/link-search.png);
    background-position: -34px 12px;
    background-repeat: no-repeat;
}

.works .buttons {
    margin-top: 40px;
    margin-bottom: 40px;
}

.load-more {
    display: block;
    width: 160px;
    height: 60px;
    border: none;
    background-color: var(--color-1);
    box-sizing: border-box;
    margin: 0 auto;
    color: var(--color-7);
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
    position: relative;
    text-align: right;
    padding-right: 22.5px;
    cursor: pointer;
}

.load-more::before {
    content: "+";
    font-size: 30px;
    position: absolute;
    top: 14px;
    left: 28px;
}

/* breaking news */
.breaking-news__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 105px;
}

.breaking-news__item {
    max-width: 263px;
    border: 1px solid rgb(204, 204, 204);
    margin-bottom: 45px;
}

.breaking-news__item:hover .date {
    background-color: var(--color-1);
}

.breaking-news__item:hover .news-item__content-header {
    color: var(--color-1);
}

.news-item__picture {
    width: 263px;
    height: 208px;
}

.date {
    display: flex;
    flex-direction: column;
    width: 68px;
    height: 66px;
    background-color: #203e38;
    color: var(--color-7);
    font-size: 16px;
    font-weight: 400;
    line-height: 25.33px;
    margin-left: auto;
    box-sizing: border-box;
    padding-top: 7px;
}

.day,
.month {
    text-align: center;
}

.news-item__content {
    padding: 14px;
    background-color: #f8fcfe;
}

.news-item__content .info-items {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 38.97px;
}

.info-item {
    display: inline-block;
}

.info-item.author {
    position: relative;
    margin-right: 30px;
}

.info-item.author:after {
    content: "";
    display: block;
    position: absolute;
    right: -15px;
    top: 12.5px;
    height: 15px;
    width: 1px;
    background-color: #777;
}

.news-item__content-header {
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    line-height: 38.97px;
}

.news--1 .news-item__picture {
    background: url(../images/news-1.png)
}

.news--2 .news-item__picture {
    background: url(../images/news-2.png)
}

.news--3 .news-item__picture {
    background: url(../images/news-3.png)
}

.news--4 .news-item__picture {
    background: url(../images/news-4.png)
}

.news--5 .news-item__picture {
    background: url(../images/news-5.png)
}

.news--6 .news-item__picture {
    background: url(../images/news-6.png)
}

.news--7 .news-item__picture {
    background: url(../images/news-7.png)
}

.news--8 .news-item__picture {
    background: url(../images/news-8.png)
}

/* feedbacks */
.feedbacks {
    background-color: #031e25;
    color: var(--color-7);
    border-top: 1px solid transparent;
    background-image: url(../images/feedbacks-bg.jpg);
    background-size: cover;
    border-bottom: 1px solid transparent;
    background-attachment: fixed;
}

h2.section-header--light {
    color: var(--color-7);
}

.feedback-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    position: relative;
    text-align: center;
    border-top: 1px solid transparent;
}

.feedback-box::before {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    background-image: url(../images/comas.png);
    background-repeat: no-repeat;
    background-position: 2.5px 10px;
}

.feedback-box__text {
    /* transition: 2s; */
    margin-top: 85px;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.feedback-box__author {
    color: var(--color-1);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 45px;
}

.feedback-box__author-position {
    font-weight: 300;
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    margin-top: 10px;
}

.feedback-box__image {
    border: 5px solid var(--color-1);
    border-radius: 50%;
    margin-top: 30px;
    width: 153px;
    height: 152px;
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 2px 8px rgba(30, 197, 158, 0.68);
}

.client-slider {
    width: 550px;
    height: 90px;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
}

.client-slider div {
    cursor: pointer;
}

.left,
.right {
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-7);
    background-repeat: no-repeat;
    background-position: 12px 8px;
    align-self: center;
}

.left:hover,
.right:hover {
    background-color: var(--color-1);
    cursor: pointer;
}

.left {
    background-image: url(../images/arrow-left.png);
}

.right {
    background-image: url(../images/arrow-right.png);
}

.client {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    align-self: center;
    border: 5px solid #8df1dd;
    /* background-size: 100%; */
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.client.active {
    margin-bottom: 30px;
    animation: slider 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    box-shadow: 0px 0px 2px 8px rgba(30, 197, 158, 0.68);
}

@keyframes slider {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}

/* best images */
.best-images-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 106px;
    height: 940px;
}

.best-images-box img {
    margin: 8px;
}

.best-images .buttons {
    margin: 50px auto;
}

/* footer */
footer {
    background-color: var(--color-5);
    border: 1px solid transparent;
}

.copy-right-info {
    width: fit-content;
    margin: 50px auto;
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}